header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;

  // por estar utilizando o scss pode extilizar uma tag filha dento da tag pai
  li {
    margin-left: 24px;
  }

  @include responsive() {
    display: none;
  }
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: inline-block;

  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;

  color: $gray-3;

  padding: 8px 16px;
  transition: .7s ease;

  position: relative;

  // por estar utilizando o scss pode extilizar uma tag filha dento da tag pai
  &::after {
    content: '';
    display: block;
    // o elemento pai sendo relativo o elemento filho vai ficar absoluto ao pai
    position: absolute;
    top: -70%;
    left: 50%;

    width: 2px;
    height: 0px;
    transition: .7s ease;

    background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #E91D22 100%);
  }

  &:hover {
    color: $white-light;

    &::after {
      height: 36px;
    }
  }
}

label {
  display: none;

  @include responsive() {
    display: block;
  }
}

.bx {
  display: none;

  @include responsive() {
    display: block;
    width: 68px;
    height: 68px;

    background-color: $blue-dark;
    border-radius: 8px;

    position: relative;

    &::after {
      content: '';

      position: absolute;
      top: 30%;
      left: 15%;

      width: 70%;
      height: 10%;

      border-radius: 20px;

      background-color: $white;

      transition: 1s ease;
    }

    &::before {
      content: '';

      position: absolute;
      top: 60%;
      left: 45%;

      width: 40%;
      height: 10%;

      border-radius: 20px;

      background-color: $white;

      transition: 1s ease;
    }
  }
}

#bx:checked ~ label .bx:after {
  transform: rotate(225deg);

  width: 70%;
  height: 10%;

  top: 45%;
  left: 15%;
}

#bx:checked ~ label .bx:before {
  transform: rotate(-405deg);

  width: 70%;
  height: 10%;

  top: 45%;
  left: 15%;
}

.nav-social {
  display: flex;

  svg {
    cursor: pointer;

    margin-left: 16px;
    width: 24px;

    path, circle {
      transition: .7s ease;
    }

    &:hover {
      path, circle {
        fill: $red-light;
        transform: translate3d(0, -3px, 0); // (x, y, z)
      }
    }
  }

  @include responsive() {
    display: none;
  }
}
